.main{
    height: 100vh;
    width: 100%;
    padding: 2vw 3vw;
    position: relative;
}

.inner{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.innerL{
    width: 45%;
}

.innerR{
    background-color: #00000017;
    width: 55%;
}

.content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    gap: 50px;
    transform: translateY(-50%);
    z-index: 2;
    padding: 1vw;
}

.content img{
    width: 55%;
}

.content h2, .content p{
    padding: 0 2vw;
}

.gitBtn{
    background: #5046e5;
    color: white;
    border: 1px solid #5046e5;
    margin-left: 30px;
    position: relative;
    padding: .65vw 2.5vw;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.gitBtn:hover{
    background: transparent;
    color: #5046e5;
    border: 1px solid #5046e5;
}